{% extends "base.html" %}

{% block title  %}
    Car List
{% endblock title %}

{% block content %}
<br>
<div class="row">
	{% if messages%}
      <div class="row">
        <div class="col-xl-12">
        {%for message in messages%}
        <p {%if message.tags%} class="{{message.tags}}" {%endif%}>{{message}}</p>
        {%endfor%}
      </div>
    </div>
    {%endif%}
<br>
	{% for car in cars %}
		<div class="col-md-4">
        <div class="card border-success mb-3">
          <div class="card-body">
          	{% if car.car_img %}
    	<img class="card-img-top" src="{{car.car_img.url}}">
  		{% endif %}
            <h5 class="card-title">{{car.make}} - {{car.model}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
            <a href="{{car.get_absolute_url}}" class="btn btn-outline-success">Details</a>
            </li>
          </ul>
        </div>
    </div>
	{% endfor %}
</div>
{% endblock content %}
 