<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: yellow; text-transform: capitalize; font-weight: bold; font-family: Lucida Console; " href="{% url 'car-list' %}">MyCar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   
 <a href="{%url 'car-create' %}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create a Car</button>
  </a>
  
    
  </div>
</nav>